@using resources = Jironimo.Web.Resources.SharedResource;

<footer>
   <div class="footer_box">
    <a class="btn_footer scrollup">
        @resources.ToTop
    <img class="imgbtn" src="~/icons/upArrow.svg" />
        </a>
    </div>
    
    <div class="footer_text">
    <p class="footer_name">   
       © Jironimo Studio 2022 — Ukraine
    </p>
    </div>
</footer>
