.application {
    margin: 60px;
}

.application_block {
    width: 40%;
    position: relative;
    top: 30%;
}

.application_data {
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    color: #878787;
    height: 31px;
}

.application_title {
    font-size: 36px;
    font-weight: 500;
    line-height: 43.5px;
    color: #0F0F0F;
    width: 380px;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.application_description {
    font-size: 22px;
    font-weight: 400;
    color: #0F0F0F;
    height: 99px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    max-width:90%;
    padding-bottom:5px;
}

.application_view {
    color: #107EFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    width: 70px;
    height: 31px;
    text-align: center;
}

    .application_view a {
        color: #107EFF;
        text-decoration:none;
    }

    .img_right {
        width: 15px;
        height: 15px;
    }

.application_image img {
    width: 60%;
    object-fit: contain;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
    .application_image img:hover {
        width: 67%;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
        .application_image {
    width: 100%;
}
    .application_image a{
        display:flex;
        justify-content:center;
    }
    .right {
        float: right;
    }

.left {
    float: left;
}

.block_right {
    padding-left: 10px;
}

@media screen and (max-width: 980px) {
    .application_title {
        width: 100%;
        font-size:55px;
        font-weight:500;
        margin-bottom:20px;
    }

    .application {
        height: auto;
        margin: 30px;
        display: flex;
        flex-flow: column wrap;
    }

    .application_image img {
        height:100%;
    }

    .application_image {
        width: 100%;
        order: 1;
    }

    .application_block {
        order: 2;
        position: relative;
        width: 100%;
        top: 10%;
        margin-top:15px;
    }

    .right {
        float: none;
    }

    .left {
        float: none;
    }

    
    .application_data {
        font-size: 30px;
    }
    .application_description {
        font-size: 35px;
        height:auto;
       
    }
    .application_view {
        font-size: 30px;
        width: 100px;
    }

    @media screen and (max-width: 650px) {
    }


@media screen and (max-width: 480px) {
    .application_title {
        width: 100%;
        font-size: 40px;
        font-weight: 500;
        margin-bottom:5px;
    }

    .application {
        height: auto;
        margin: 30px;
        display: flex;
        flex-flow: column wrap;
        
    }
    .application_image img {
        height:300px;
    }

    .application_image {
        width:100%;
        order:1;
    }

    .application_block {
        order: 2;
        position:relative;
        width:100%;
        top:10%;

    }

    .right {
        float:none;
    }

    .left {
        float:none;
    }

    .application_description {
        height:auto;
        font-size:30px;

    }
    .application_data {
        font-size: 25px;
    }

    .application_view {
        font-size: 25px;
        width: 80px;
        margin-top:10px;
    }

}
