.black_block {
    background: #131313;;
    height:100vh;
}
.about {
    font-size: 80px;
    font-weight:600;
    color:#FFFFFF;
    line-height:96px;
    margin-left:60px;
    padding-top:50px;
}
.discription {
    font-size: 22px;
    font-weight:300;
    color: #FFFFFF;
    line-height:30px;
    margin-left: 60px;
   margin-top:10%;
    width:350px;
}



.two_dev_block {
    width: 94vw;
}
.two_dev_block img{
    float: right;
    padding-right:20px;
}
}
.img_1{
    width:220px;
    height:220px;

}
.img_2 {
    width: 220px;
    height: 220px;
}
.three_dev_block {
    float: right;
    margin-right:5%;
}
.three_dev_block img {
    float: right;
    padding-right: 20px;
    padding-top:20px;
}
.two_dev_block, .three_dev_block {
    display: inline-block;
   
    

}

    .img_3 {
    width: 220px;
    height: 220px;
}
.img_4 {
    width: 220px;
    height: 220px;
}
.img_5 {
    width: 220px;
    height: 220px;
}


.write_block {
    height: 100%;
}

.text {
    font-weight: 400;
    font-size: 26px;
    line-height: 41px;
    color:#575757;
    margin-left:60px;
    margin-top:60px;
    max-width:900px;
}

.art_director_img{
    margin-left:60px;
    margin-top:60px;
    width:100%;
    height:336px;
}

.art_director_text {
    font-size: 26px;
    font-weight: 400;
    line-height: 41px;
    color: #0F0F0F;
    margin-left: 60px;
    margin-top: 10px;
}

.andrii_chutilov {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color:#878787;
    margin-left: 60px;
    margin-top: 10px;
}

.img_up {
    width: 15px;
    height: 15px;
    color: #878787;
}

.block_img{
    display:flex;
    
}
.dev_block{
    width:23%;
}