footer {
   height:120px;
   margin-top:50px;
}
.footer_box {
    text-align: center;
    
    
}

.btn_footer {
    font-size: 18px;
    color: #107EFF;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.imgbtn{
   width:15px;
   height:15px;
   
}

.footer_text {
    text-align: center;
}

.footer_name{

}