footer {
    height: 120px;
    margin-top: 50px;
   
   
}
.footer_box {
    text-align: center;
    
    
}

.btn_footer {
    font-size: 18px;
    color: #107EFF;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.imgbtn{
   width:15px;
   height:15px;
   
}

.footer_text {
    text-align: center;
}

footer {
    flex: 0 0 auto;
}
.footer_name {
    font-size: 18px;
}

htlm,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1 0 auto;
}

@media screen and (max-width: 980px) {
    .btn_footer {
        font-size: 25px;
    }
    .footer_name{
        font-size:25px;
    }
    .imgbtn {
        width: 25px;
        height: 25px;
    }
    footer {
        height: 130px;
        margin-top: 30px;
    }




@media screen and (max-width: 480px){
    .btn_footer {
        font-size: 22px;
    }

    .footer_name {
        font-size: 22px;
    }
    .imgbtn {
        width: 22px;
        height: 22x;
    }
    footer {
        height: 100px;
    }
    }