
body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #131313;
    height: 142px;
    justify-content: space-between;
}
.background_white {
    background-color:white;
   
}
    
.background_white a{
    color: black !important; 
}
    
    header .logo {
        text-decoration: none;
        padding-left: 60px;
        font-style: normal;
        line-height: 140%;
        align-items: center;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
    }

.menu_top {
    display: flex;
}

    .menu_top li {
        list-style-type: none;
        padding-left: 10px;
    }

    .menu_top:first-child {
        padding-left: 0px !important;
    }

    .menu_top li a {
        color: #FFFFFF;
        text-decoration: none;
       font-size: 18px;
        font-weight: 400;
    }

.right_btn {
    padding-right: 60px;
}

    .right_btn a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
    }
