
.black_fon {
    background-color: #131313;
    height: 100vh;
    position:relative;
}

.large_text {
    color: white;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    height: 231px;
    position: absolute;
    right: 49%;
    top: 20%;
    z-index: 2;
    max-width:600px;
}

.mini_text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 308px;
    height: 75px;
    position: absolute;
    right: 69%;
    top: 80%;
    
}

.animationGrey {
    top: 18% !important;
    transition: 3s;
}

.animationPink {
    top: 50% !important;
    transition: 3s;
}


.grey_square {
    background: url("/images/grey.png") no-repeat;
    background-size: cover;
    width: 540px;
    height: 540px;
    border-radius: 48px;
    position: absolute;
    right: 23%;
    top: 13%;
    z-index: 1;
}

.pink_square {
    background: url("/images/pink.jfif") no-repeat;
    background-size: cover;
    width: 360px;
    height: 360px;
    opacity: 50%;
    border-radius: 36px;
    position: absolute;
    top: 57%;
    right: 15%;
    z-index: 0;
}

@media screen and (max-width: 980px) {
    .black_fon {
        display: flex;
        flex-flow: column wrap;
        height: 120vh;
    }
    .large_text {
        order: 1;
        height: 231px;
        position: absolute;
        right: 0%;
        top: 10%;
        z-index: 2;
        max-width:750px;
    }
    .grey_square {
        order: 2;
        right: 25%;
        top: 40%;
    }
    .pink_square {
        top: 70%;
        right: 15%;
    }
    .mini_text {
        right: 15%;
        top: 105%;
        width: 500px;
        height: 200px;
        font-size:30px;
        line-height:35px;
        font-weight:0;
    }
    
}

@media screen and (max-width: 650px) {
}


@media screen and (max-width: 480px) {
    .black_fon {
        display: flex;
        flex-flow: column wrap;
        height: 115vh;
    }

    .large_text {
        order: 1;
        height: 231px;
        position: absolute;
        right: 2%;
        top: 10%;
        z-index: 2;
        max-width: 350px;
        font-size: 38px;
        line-height: 40px;
       
    }

    .grey_square {
        order: 2;
        right: 23%;
        top: 40%;
        width: 270px;
        height: 270px;
    }

    .pink_square {
        top: 61%;
        right: 10%;
        width: 190px;
        height: 190px;
    }

    .mini_text {
        right: 9%;
        top: 95%;
        width: 300px;
        height: 200px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 100;
    }

    .animationGrey {
        top: 45% !important;
        transition: 3s;
    }

    .animationPink {
        top: 58% !important;
        transition: 3s;
    }
}

@media screen and (min-width: 3840px){
    .black_fon {
      
        height: 1050px;
    }
}