
.black_fon {
    background-color: #131313;
    height: 108vh;
}

.large_text {
    color: white;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    width: 661px;
    height: 231px;
    position: absolute;
    right: 45%;
    top: 25%;
    z-index: 2;
}

.mini_text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    width: 308px;
    height: 75px;
    position: absolute;
    right: 69%;
    top: 110%;
    
}



.grey_square {
    background: url("/images/grey.png") no-repeat;
    background-size: cover;
    width: 540px;
    height: 540px;
   
    border-radius: 48px;
    position: absolute;
    right: 23%;
    top: 25%;
    z-index:1;
}

.pink_square {
    background: url("/images/pink.jfif") no-repeat;
    background-size: cover;
    width: 360px;
    height: 360px;
    opacity: 50%;
    border-radius: 36px;
    position: absolute;
    top: 70%;
    right: 15%;
    z-index: 0;
}

