.black_block {
    background: #131313;
    height:750px;
}
.title{
   height:192px;
   width:300px;
   font-size:80px;
   font-weight:600;
   line-height:96px;
   color:#FFFFFF;
   margin-left:60px;
   padding-top:150px;
}
.description {
    width: 360px;
    height: 91px;
    font-size: 22px;
    font-weight: 400;
    line-height:30.8px;
    color: #FFFFFF;
    margin-left: 60px;
    padding-top:270px;
}
.picture_fon {
    background: url('/images//ServiceBackgraundPhone.png');
    background-size: cover;
    width: 550px;
    height:538px;
    position: absolute;
    left:63%;
    top: 30%;
  
}

.technology{
margin:60px;

}

.sub_title {
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    color:#0F0F0F;

}

.platform_text {
    margin-top: 40px;
    font-size: 36px;
    line-height: 44px;
    color: #0F0F0F;
    font-weight:400;
}

.description_text {
    margin-top:20px;
    font-size: 26px;
    line-height: 41px;
    color:#575757;
    font-weight:200;
}

.technology_block{
    display:flex;
    margin-top:40px;
    
}

.flutter {
    width: 240px;
    height: 240px;
    border: 2px solid #EEEEEE;
    display: flex;
     flex-direction:column;
    align-items: center;
    justify-content: center;

}

.flutter_img {
    width: 82px;
    height: 100px;
}

.fluter_signature{
    font-weight:400;
    font-size:26px;
    line-height:41px;
    width:82px;
    height:42px;
    padding-left:30px;
    padding-top:20px;
}

.react {
    width: 240px;
    height: 240px;
    border: 2px solid #EEEEEE;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.react_img {
    width: 100px;
    height: 90px;
   
}

.react_signature {
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    width: 158px;
    height: 42px;
    padding-left:30px;
    padding-top:20px;
   
  
}

.native_technologi {
    margin: 60px;
}

.native_title {
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    color: #0F0F0F;
}

.native_description {
    margin-top: 20px;
    font-size: 26px;
    line-height: 41px;
    color: #575757;
    font-weight: 200;
}

.technology_block2 {
    display: flex;
    margin-top: 40px;
}
.kotlin {
    width: 240px;
    height: 240px;
    border: 2px solid #EEEEEE;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kotlin_img {
    width: 100px;
    height: 100px;
}

.kotlin_signature {
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    width: 158px;
    height: 42px;
    padding-left:82px;
    padding-top: 20px;
}

.swift {
    width: 240px;
    height: 240px;
    border: 2px solid #EEEEEE;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swift_img {
    width: 100px;
    height: 90px;
}

.swift_signature {
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    width: 158px;
    height: 42px;
    padding-left: 30px;
    padding-top: 20px;
    padding-left:100px;
}

.other_works_title {
    font-weight: 600;
    font-size: 80px;
    color: #0F0F0F;
    margin-left:60px;
    margin-top:100px;
}

@media screen and (max-width: 980px) {
    .black_block {
        height: 100vh;
    }
    
    .black_block {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .title {
        order: 1;
        font-size: 60px;
        margin-left: 60px;
        padding-top: 150px;
        width: 600px;
        
       
    }

    .description {
        order: 2;
        height: 200px;
        font-size: 32px;
        padding-top: 0px;
        width: 600px;
        height: 91px;
    }

    .picture_fon {
        order: 3;
        background-size: cover;
        width: 603px;
        height: 680px;
        position: absolute;
        left: 21%;
        top: 42%;
    }

    .sub_title {
        font-size: 70px;
    }

    .native_title {
        font-size: 70px;
    }

    .technology_block {
        display: flex;
        justify-content: center;
    }

    .technology_block2 {
        display: flex;
        justify-content: center;
    }

    .other_works_title {
        font-size: 60px;
        font-weight: 400;
    }




    @media screen and (max-width: 480px) {
        .title {
            order: 1;
            font-size: 50px;
            margin-left: 60px;
            padding-top: 110px;
            line-height: 56px;
            height: 152px;
            width:0px;
        }

        .description {
            order: 2;
            height: 200px;
            font-size: 22px;
            padding-top: 0px;
            width: 300px;
            height: 91px;
        }

        .picture_fon {
            order: 3;
            background-size: cover;
            width: 330px;
            height: 380px;
            position: absolute;
            left: 17%;
            top: 55%;
        }

        .sub_title {
            font-size: 50px;
        }

        .kotlin {
            width: 150px;
            height: 150px;
        }

        .swift {
            width: 150px;
            height: 150px;
        }

        .native_title {
            font-size: 50px;
        }

        .other_works_title {
            font-size: 40px;
        }

        .react {
            width: 150px;
            height: 150px;
        }

        .flutter {
            width: 150px;
            height: 150px;
        }

        .swift_signature {
            padding-left: 0px;
        }

        .react_signature {
            padding-left: 0px;
        }

        .platform_text {
            margin-top: 10px;
            font-size: 36px;
        }

        .technology {
            margin: 30px;
        }

        .native_technologi {
            margin: 30px;
        }

        .native_title {
            font-size: 48px;
            line-height: 40px;
        }

        .flutter_img {
            width: 75px;
            height: 90px;
        }

        .fluter_signature {
            font-size: 22px;
            line-height: 41px;
            width: 82px;
            height: 42px;
            padding-left: 30px;
            padding-top: 8px;
            font-weight: 100;
        }

        .react_img {
            width: 90px;
            height: 80px;
        }

        .react_signature {
            font-size: 22px;
            font-weight:500;
            width: 158px;
            height: 42px;
            padding-left: 40px;
            padding-top: 8px;
        }
        .kotlin_img {
            width: 70px;
            height: 70px;
        }

        .kotlin_signature {
            font-weight: 500;
            font-size: 22px;
           padding-top: 20px;
        }


        .swift_img {
            width: 90px;
            height: 80px;
        }

        .swift_signature {
            font-weight: 500;
            font-size: 22px;
            line-height: 41px;
            width: 158px;
            height: 42px;
            padding-left: 30px;
            padding-top: 20px;
            padding-left: 100px;
        }

    }
}