@model List<DeveloperViewModel>
@{
    ViewData["Title"] = "About";
}
@section Styles{
<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}
<div class="black_block">
    <div class="about">
        About
    </div>

    <div class="dev_all_block">
        <div class="two_dev_block">
            <img class="img_1" src="/images/About/2.svg" />
            <img class="img_2" src="/images/About/3.svg" />
        </div>
        <div class="three_dev_block">
            <img class="img_3" src="/images/About/1.svg" />
            <img class="img_4" src="/images/About/4.svg" />
            <img class="img_5" src="/images/About/5.svg" />
        </div>
    </div>
    <div class="discription">
        Applage offers customized services to meet the unique requirements of each client.
    </div>
</div>
<div class="write_block">
    <div class="text">
        The company's expertise in the Apple ecosystem allows them to create seamless and intuitive applications for optimal user experience.
    </div>
    <div class="block_img">
        @foreach (var item in Model)
        {
             <div class="dev_block">
                <img class="dev_avatar_img" src="~/images/Developers/@item.ImagePath" />

                <div class="dev_position">
                    @item.Position
                </div>
                <div class="dev_name">
                    @item.Name
                    <img class="img_up" src="~/icons/upArrowRightGrey.svg" />
                </div>
            </div>
        }
    </div>
</div>



