@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}
<div class="black_block"> 
    <div class="about"> 
About
    </div>
    <div class="discription">
        Madlab creates stunning iOS Apps that make business thrive, even in highly competitive markets.
    </div>
</div>
<div class="write_block">
    <div class="text">
Здесь должен быть ахуенный текст о том, какие вы классные и как зародилась компания и как всё круто, максимум 4 строки, ширину этого текстового блока я менять запрещаю.
    </div>
    <div>
        <img class="art_director_img" src="~/images/About/Teamwork (1).svg"/>
    </div>
    <div class="art_director_text">
        Art Director
    </div>
    <div class="andrii_chutilov">
        Andrii Chutilov
    </div>
</div>