@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
<link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />
}

   <div class="popup" >
       <div class="popup_body">
           <div class="popup_content">
               <a class="popup_close">x</a>
               <div>gkggfkdfdjdgfjggjgf</div>
           </div>
       </div>

   </div>
