@using Jironimo.Web.Helper
@using resources = Jironimo.Web.Resources.Content.MainPage;
@model List<ApplicationViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
<link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />
}

<div class="black_fon">
    <div class="large_text">
        <p>
            A good team who makes good products for good people.
        </p>

    </div>
    <div class="mini_text">
        <p>
            Madlab is a group of professional problem-solvers and deep thinkers, working hard till we kill it.
        </p>
    </div>
    <div class="grey_square" id="grey">
    </div>
    <div class="pink_square" id="pink">
    </div>
</div>

    @await Html.PartialAsync("~/Views/Components/Content/_ApplicationSection.cshtml")

@*<script>
    var pink=document.getElementById("pink") ;
    var grey=document.getElementById("grey") ;

    window.addEventListener('scroll', function() {
    pink.style.top=+50+ '%';
    });
    </script>*@