@using Jironimo.Web.Helper
@using resources = Jironimo.Web.Resources.Content.MainPage;
@model List<ApplicationViewModel>
@{
    ViewData["Title"] = "Main";
}
@section Styles{
<link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />
}

<div class="black_fon">
    <div class="large_text">
        <p>
            Elevating your digital world with our exclusive solutions for Apple devices.
        </p>

    </div>
    <div class="mini_text">
        <p>
            Applage is a specialized IT company that exclusively focuses on providing software and backend solutions for Apple devices.
        </p>
    </div>
    <div class="grey_square" id="grey">
    </div>
    <div class="pink_square" id="pink">
    </div>
</div>

@await Html.PartialAsync("~/Views/Components/Content/_ApplicationSection.cshtml")
