@{
    ViewData["Title"] = "VPN Moon Privacy Policy";
}
@section Styles{
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="VPN Moon">
    <title>Политика конфиденциальности</title>
    <meta name="keywords" content="privacy policy">
    <meta name="description" content="VPN Moon privacy policy">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light">
</head>

<body class="bg-dark bg-noise g-sidenav-show g-sidenav-pinned">

    <div class="policy">
        <section class="slice slice-sm" data-offset-top="#header-main" style="padding-top: 147.984px;">
            <div class="container pt-6">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <h1 class="lh-150 mb-3">Privacy policy</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <!-- Article body -->
                        <article>
                            <p class="lead">Last update November 09, 2022</p><p class="lead">
                                VPN Moon stands for "virtual private network." VPNs encrypt your internet traffic and your identity online, making it harder for third-parties to break in and steal your data. This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. We are committed to protecting your privacy and your data.
                            </p>
                            <p>Personal data we process:</p>
                            <p>We collect several types of information to provide and improve our Service to you:</p>
                            <p>
                                • Personal Data: We may ask you to provide us with certain personally identifiable information that can be used to contact or identify you "Personal Data", such as your name, email address, and etc..
                            </p>
                            <p>
                                • Usage Data: We may also collect information about how the Service is accessed and used "Usage Data". This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
                            </p>
                            <p>
                                • Connection Data: We may collect information about your VPN connection "Connection Data" including the date and time of the connection, the duration of the connection, and the IP address assigned to you by the VPN.
                                We use your Usage Data and Connection Data to analyze the usage of our Service and improve it for our users.
                            </p>
                            <p>Security of Data</p>
                            <p>
                                We take reasonable precautions to protect your Personal Data, Usage Data and Connection Data. However, no method of transmission over the internet or electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
                            </p>
                            <p>How we use your information</p>
                            <p>We use your information to provide the Services to you. Any information we receive from you may be used in one of the following ways:</p>
                            <p>• To improve customer service</p>
                            <p>Your information helps us respond more effectively to your customer service and support requests.</p>
                            <p> • For transaction processing.</p>
                            <p>Your information, whether public or private, will not be sold, exchanged, forwarded or shared with any other company for any reason without your consent, except for the express purpose of delivering the product or service you purchased or requested.</p>
                            <p>• To send periodic emails</p>
                            <p>The email address you provide for order processing will only be used to send you information and updates regarding your order. If at any time you would like to unsubscribe from receiving emails in the future, we include detailed unsubscribe instructions at the bottom of each email.</p>
                            <p>Your Rights</p>
                            <p>You have the right to access, update or delete your Personal Data by contacting us at moon.vpn.sup@gmail.com. You also have the right to object to the processing of your Personal Data.</p>
                            <p>Contact us</p>
                            <p> If you have any questions about this Privacy Policy, or if you believe that VPN Moon is not abiding by this Privacy Policy, please contact us by email at moon.vpn.sup@gmail.com</p>






                            <p></p>

                        </article>
                        <hr>

                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>