@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
<link rel="stylesheet" href="~/css/Service.css" asp-append-version="true" />
}

<div>
    <div class="black_block">
        <div class="title">
            Mobile Development
        </div>
        <div class="description">
            Madlab creates stunning iOS Apps that make business thrive, even in highly competitive markets.
        </div>
        <div class="picture_fon">
        
        </div>
    <div>
        <div>
            What we do
        </div>
        <div>
            Cross-platform app development
        </div>
        <div>
            We create cross-platform mobile applications. Boasting a shorter time to market, cross-platform apps run on multiple devices and operating systems.
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
    </div>
   
</div>