@{
    ViewData["Title"] = "VPN Moon Terms of Use";
}
@section Styles{
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="VPN Moon">
    <title>Terms of Use</title>
    <meta name="keywords" content="terms of Use">
    <meta name="description" content="VPN Moon terms of use">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light">
</head>

<body class="bg-dark bg-noise g-sidenav-show g-sidenav-pinned">

    <div class="policy">
        <section class="slice slice-sm" data-offset-top="#header-main" style="padding-top: 147.984px;">
            <div class="container pt-6">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <h1 class="lh-150 mb-3">Terms of Use</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <!-- Article body -->
                        <article>
                            <p class="lead">Last update November 09, 2022</p><p class="lead">
                                Welcome to Moon VPN. This Terms of Use Agreement sets forth the terms and conditions governing your use of the Service. Please read this Agreement carefully before using the Service.
                            </p>
                            <p>Acceptance of Terms</p>
                            <p>
                                By accessing or using the Service, you agree to be bound by the terms and conditions of this Agreement. If you do not agree to these terms and conditions, you may not use the Service.
                            </p>
                            <p>
                                Intellectual Property
                            </p>
                            <p>
                                The Service and its entire contents, features, and functionality (including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof), are owned by Moon VPN, its licensors, or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
                            </p>
                            <p>
                                User responsibilities:
                            </p>
                            <p>
                                To use the service, you must have a computer or other Internet-capable device. You alone are responsible for ensuring that your device is adequate and compatible with the service.
                            </p>
                            <p>
                                Prohibited behaviour:
                            </p>
                            <p>
                                By using the Service, you agree to:
                            </p>
                            <p>
                                • Use the Service for no other than lawful purposes.
                            </p>
                            <p>• Impersonate any person or entity or misrepresent your affiliation with any person or entity.</p>
                            <p>• Misidentifying the origin of content sent through the system.</p>
                            <p>• Distribution of copyrighted material through our servers.</p>
                            <p>• Use of the Services for Commercial Purposes.</p>
                            <p>• Knowingly interfere with or impair the operation of the Service in any way.</p>
                            <p>• Do not take any action that places an unbearable load on Moon VPN’s infrastructure.</p>
                            <p> Billing and Payment:</p>
                            <p>
                                All fees for the Services shall be due and payable prior to the use of such Service, unless otherwise noted, such as when there is an offer for a free trial period. Fees for renewal periods after the Initial Term shall be due immediately upon the first day of such renewal period.
                                All fees for the Services shall be due and payable prior to the use of such Service, unless otherwise noted, such as when there is an offer for a free trial period. Fees for renewal periods after the Initial Term shall be due immediately upon the first day of such renewal period.
                            </p>
                            <p>Termination:</p>
                            <p>
                                This Agreement is active until terminated. Your rights under this License will terminate automatically without notice if you fail to comply with any terms and conditions or otherwise fail to pay the fees and charges, if any, payable to us and associated with your use of the Software. Upon the termination of this License, you shall cease all use and destroy, remove or delete all copies, full or partial, of the Software on your computer or device and otherwise in your possession or control. Any term or condition of this Agreement which by its plain meaning shall be and must be performed after termination shall survive termination.
                            </p>
                            <p>Disclaimer of warranties:</p>
                            <p>
                                The Service and its contents are provided "as is" and "as available" without any warranty of any kind, either express or implied. Moon VPN does not warrant that the Service will be uninterrupted or error-free, that defects will be corrected, or that the Service or the servers that make the Service available are free of viruses or other harmful components. Moon VPN does not make any warranties or representations regarding the use of the materials on the Service in terms of their correctness, accuracy, adequacy, usefulness, timeliness, reliability or otherwise.
                            </p>
                            <p>
                                Contact
                            </p>
                            <p>If you have any questions about the Terms of Use, please contact us by email at moon.vpn.sup@gmail.com</p>

                        </article>
                        <hr>

                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>