<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jironimo.Web</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/Heder.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    @await Html.PartialAsync("/Views/Shared/Header/_Header.cshtml")
    <div class="container">
        @RenderBody()
    </div>
    @await Html.PartialAsync("~/Views/Shared/Footers/_Footer.cshtml")

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
