@using resources = Jironimo.Web.Resources.SharedResource;
@{
    var isWorkPage = ViewContext.RouteData.Values["routeName"]?.ToString()=="work";
}

<header class="@(isWorkPage?"background_white":"")">
    <a href="/" class="logo">
        Jironimo
    </a>
    <div class="center_menu">
        <ul class="menu_top">
            <li><a href="/work">Work</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/about">About</a></li>
            <li><a onclick="ShowModal()"> Contact</a></li>
        </ul>
          </div>
        <div class="right_btn">
            <a onclick="ShowModal()" class="btn">Let's talk</a>
         </div>
</header>


