@using Jironimo.Web.ViewModels
@using Jironimo.Web.Helper
@model List<ApplicationViewModel>
@{
    var isPositionRight = true;
}
<div>
    @foreach (var item in Model)
    {
        <div class="application">
            <div class="application_image">
                <a href="/details/@item.Title">
                     <img class="" src="~/images/Applications/@item.ImagePath" alt="" />
                </a>
            </div>
        </div>
        isPositionRight = !isPositionRight;
    }
</div>