   <div id="popup" class="popup" >
       <div class="popup_body">
           <div class="popup_content">
               <a onclick="CloseModal()" class="popup_close">x</a>
               <div>gkggfkdfdjdgfjggjgf</div>
           </div>
       </div>
   </div>